<div class ="container-fluid">
    <div class="row">
        <div style="background-color: rgb(144, 193, 176);height:93vh;" class="col-md-3">
          <div style="padding: 30px;"></div>
          <mat-card class="md-3">
            <p></p>
            <p></p>
            <p></p>
            <form [formGroup]= "todoForm">
                <mat-form-field appearance="outline">
                  <mat-label>Task Name</mat-label>
                  <input formControlName="item" matInput placeholder="placeholder">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  <mat-hint>Add task name</mat-hint>
                </mat-form-field>
                <div class="button_div">
                  <button (click)="addTask()" mat-raised-button [disabled]="todoForm.invalid"  class="buttons-class">Add</button>
                </div>
            </form>
          </mat-card>
        </div>
        <div class="col-md-9">
            <div cdkDropListGroup>
              <div class="row">
              <div class="col-md-4">
                <div class="example-container">
                  <h2>TO DO</h2>
                  <div 
                    cdkDropList
                    [cdkDropListData]="tasks"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of tasks" cdkDrag>{{item.description}}
                      <div class="box">
                        <button mat-icon-button color="warn"></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="example-container">
                  <h2>IN PROGRESS</h2>
                  <div cdkDropList [cdkDropListData]="inprogress" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of inprogress" cdkDrag>{{item.description}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="example-container">
                  <h2>DONE</h2>
                  <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of done" cdkDrag>{{item.description}}
                    </div>
                  </div>
                </div>
              </div>
            
            
        </div>
    </div>
</div>

