<div class ="container-fluid">
    <div class="row">
        <p>Todo works</p>
        <div class="col-md-3">
          <mat-card>
            <p></p>
            <p></p>
            <p></p>
            <div>
                <mat-form-field appearance="outline">
                  <mat-label>Task Name</mat-label>
                  <input matInput placeholder="Placeholder">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  <mat-hint>Add task name</mat-hint>
                </mat-form-field>
                <p></p>
                <button mat-raised-button style="background-color: rgb(57, 73, 39);color:aliceblue">Add</button>
            </div>
          </mat-card>
        </div>
    </div>
        <div class="col-md-9">
            <div class="cdkDropListGroup">
            <div class="example-container">
                <h2>To do</h2>
              
                <!-- <div
                  cdkDropList
                  #todoList="cdkDropList"
                  [cdkDropListData]="todo"
                  [cdkDropListConnectedTo]="[doneList]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
                </div> -->
              </div>
            </div>  
        </div>

        <div class="col-md-9"></div>
        <div class="col-md-9"></div>
    </div>

